<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">User Details Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-userList" routerLinkActive="active">User-List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-user" routerLinkActive="active">Add-User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-userList" routerLinkActive="active">Edit-User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-userList" routerLinkActive="active">Delete-User</a>
        </li>
      </ul>
    </div>
  </div>
</nav>